<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

    <style>
        .btn {
            border-radius: 8px;
            min-width: 68px;
        }

        button a {
            text-decoration: none;
            color: #fff;
        }
    </style>
</head>
<body>
<div th:replace="comman/header :: navbar"></div>
    <div align="center">
        <br/>
        <h2>Class Creation</h2>
        <h2><a class="nav-link" th:href="@{'/class/addclass'}">Add</a></h2>
        <div th:if="${success_message}" class="alert alert-success text-center">
            [[${success_message}]]
        </div>

        <div th:if="${error_message}" class="alert alert-danger text-center">
            [[${error_message}]]
        </div>

        <div class="col-sm-12" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Class ID</th>
                            <th>Class Name</th>
                            <th>Course Name</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  th:each="class : ${listclass}">
                            <td class="text-center" th:text="${class.id}">Class ID</td>
                            <td th:text="${class.className}">Class Name</td>
                            <td th:text="${class.courseName}">Course Name</td>

                            <td class="text-center">
                                <button type="button" class="btn btn-info"><a th:href="@{'/class/edit/' + ${class.id}}">Edit</a></button>
                                <button type="button" class="btn btn-danger"><a th:href="@{'/class/delete/' + ${class.id}}">Delete</a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>